#layoutSidenav_content{
    background-color: #fff;
    /* padding: 30px; */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 20%;
    margin:auto;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;

}
.main-container{
    display: flex;
    gap: 5vw;
    margin: 0 5vw;
}
.form-container{
    width: min(550px,80%);
}
.image-container{
    text-align: center;
}
.image-container > img{
    height: 350px;
    width: fit-content;
}
@media screen and (max-width: 1200px) {
  .main-container {
    flex-wrap:wrap;
    margin: 0 auto;
  }
}

